.home-featured-content {
  @include grid-row();

  > .home-feature {
    @include grid-column(12);

    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
}

.home-feature {

  margin-bottom: $column-gutter;

  .title {
    line-height: 1;
    text-align: center;
    margin: 0 0 $column-gutter/2;
  }

  .content {

    @extend .paper;

    height: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding: $column-gutter/2;
    background: center/cover no-repeat;

    .text {

      @extend .cursive;
      @extend .text-shadow;

      color: $ghost;
      line-height: 1;
      font-size: 2rem;
    }
  }
}
