.idea/
.vagrant/
.DS_Store
Thumbs.db

.env
/vendor/
resources/vendor
node_modules

/public/cms/*
/public/css
/public/js
/public/fonts
!/public/cms/.gitkeep
/public/content/plugins/
/public/content/uploads/
/public/content/upgrade/

composer.lock
npm-debug.log

public/content/themes/*/assets/css
!public/content/themes/*/assets/css/splash.css
public/content/themes/*/assets/js
public/content/themes/*/assets/fonts
