.product-top-content {

  @extend .fixed-width;

  @media #{$medium-up} {
    display: flex;

    > :not(:last-child) {
      margin-right: $column-gutter/2;
    }

    .product-image-container {
      flex: 3;
    }

    .product-other-images {
      width: auto;
    }

    .product-details {
      flex: 1;
    }
  }
}

.product-title {
  @extend .fixed-width;
}

.product-main-image {
  max-width: 100%;
}

.product-other-images {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: $column-gutter/4;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    display: block;

    img {
      max-width: 90px;
      max-height: 90px;
    }
  }
}

.product-information {
  @extend .fixed-width;
  @extend .primary-content;
}
