.featured-tile {

  margin-bottom: $column-gutter / 2;

  .title {
    text-align: center;
    margin-top: 0;
  }

  .content {

    @extend .paper;

    height: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    padding: $column-gutter/2;
    background: center/cover no-repeat;

    .text {

      @extend .cursive;
      @extend .text-shadow;

      color: $ghost;
      line-height: 1;
      font-size: 2rem;
    }
  }

  .below-tile-content {
    color: $charcoal;
    padding: 0.5rem 0;
    transition: color 300ms ease-out;
  }

  &:hover {
    .below-tile-content {
      color: $jet;
    }
  }
}
