.hero {

  @extend .paper;

  display: flex;
  height: 512px;
  align-items: center;
  justify-content: center;
  background: center/cover;
  border-bottom: 4px solid scale-color($primary-color, $lightness: 20%);

  > h1 {
    @extend .cursive;
    @extend .text-shadow;

    color: $ghost;
    font-size: 4.5rem;
  }
}
