.featured-tile-grid {

  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $column-gutter;
  max-width: $row-width + $column-gutter;

  > .featured-tile {
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
  }

  @media #{$medium-up} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > .featured-tile {
      flex: 1 0 50%;
    }
  }
}
