.form-footer {
  display: flex;
  align-content: center;
  justify-content: flex-end;

  > input[type="submit"],
  > input[type="reset"] {
    flex: 1;

    &[type="submit"] {
      @include button;
    }

    &[type="reset"] {
      @include button($button-med, $secondary-color);
      margin-right: 1rem;
    }

    @media #{$medium-up} {
      flex: 0 0;

      &:not(:last-of-type) {
        margin-right: 1rem;
      }
    }
  }
}
