#header {
  @extend .paper;

  height: 160px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-bottom: 8px solid $primary-color;
}

.header-logo {
  width: 256px;
}

.header-menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  margin: 0 auto;
  list-style: none;
  max-width: 1200px;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > li {
    flex: 1;
    text-align: center;

    a {
      font-weight: 300;
      font-size: 1.2rem;
    }

    &:nth-child(3) {
      margin-right: 384px;
    }
  }
}
